h1 {
    padding-top: 10px;
    font-weight: 500;
    color: #1890ff;
    text-transform: uppercase;
}
.container {
    background-color: #151515;
    min-height: calc(70vh - 50px);
    color: white;
  }
  
  .content-container {
    margin-left: 50px;
  }
  
  .featured-content {
    height: 50vh;
    padding: 50px;
  }
  
  .featured-title {
    width: 200px;
  }
  
  .featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
  }
  
  .featured-button {
    background-color: #1890ff;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
  }
  .featured-button:hover{
    background-color: #460ce5;
  }
  
  .movie-list-container {
    padding: 0 20px;
  }
  
  .movie-list-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .movie-list {
    display: flex;
    align-items: center;
    height: 200px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
  }
  
  .movie-list-item {
    margin-right: 30px;
    position: relative;
  }
  
  .movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
  }
  
  .movie-list-item:hover .movie-list-item-title,
  .movie-list-item:hover .movie-list-item-desc,
  .movie-list-item:hover .movie-list-item-button {
    opacity: 1;
  }
  
  .movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 180px;
    height: 130px;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .movie-list-item-title {
    background-color: #333;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 5%;
    left: 20px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .movie-list-item-desc {
    background-color: #333;
    padding: 10px;
    font-size: 12px;
    position: absolute;
    top: 30%;
    left: 20px;
    width: 190px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  
  .movie-list-item-button {
    padding: 10px;
    background-color: #1890ff;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -30px;
    left: 20px;
    opacity: 0;
    transition: 1s all ease-in-out;
  }
  .movie-list-item-button:hover {

    background-color: #460ce5;
  }
  
  .arrow {
    font-size: 80px;
    position: absolute;
    color: #1890ff;
    top: 40px;
    right: 0;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .container.active {
    background-color: white;
  }
  
  .movie-list-title.active {
    color: black;
  }
  
  .navbar-container.active {
    background-color: white;
  
    color: black;
  }
  
  .sidebar.active{
      background-color: white;
  }
  
  .left-menu-icon.active{
      color: black;
  }
  
  .toggle.active{
      background-color: black;
  }
  
  .toggle-ball.active{
      background-color: white;
      transform: translateX(-20px);
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-bottom: 20px;
  }
  
  .pagination-item {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .pagination-item:hover {
    background-color: #1890ff;
  }
  
  .pagination-item.active {
    background-color: #1890ff;
    color: white;
  }
  
  
  @media only screen and (max-width: 940px){
      .menu-container{
          display: none;
      }
  }