<div class="bg-black">
    <div class="container">
        <div class="ant-row">
            <div class="py-10 flex justify-center items-center w-full">
                <h1 class="text-white text-4xl font-semibold">{{albumName}}</h1>
            </div>
        </div>
        <div class="grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4 py-7">
            @for (film of films; track $index) {
                <div class="h-auto bg-black">
                    <div class="relative h-36 bg-slate-500 rounded-md">
                        <a [routerLink]="['/video', film.Id]" class="movie__background" [style]="{ 'background-image': 'url(' + film.ThumbnailUrl + ')' }"></a>
                    </div>
                    <h2 class="text-white font-semibold text-lg py-3">
                        <a [routerLink]="['/video', film.Id]">{{film.FilmName}}</a>
                    </h2>
                </div>
            }
            
            
        </div>
    </div>
</div>
