 .input-search {
     background-color: #232323;
     color: rgb(0, 0, 0);
     margin-left: 10px;
     height: 30px;
 }

 .form-table th {
     background-color: #232323;
     color: aliceblue;
 }

 /* ng switch */
 ::ng-deep .ant-switch.ant-switch-small .ant-switch-handle {
     width: 12px;
     height: 11px;
     margin-top: -1px;
 }

 ::ng-deep .ant-switch.ant-switch-small.ant-switch-checked {
     background-color: red;
     border: 1px solid white;
     height: 16px;
     width: 30px;

 }

 ::ng-deep .ant-switch.ant-switch-small {
     background-color: brown;
     border: 1px solid white;
     height: 16px;
     width: 30px;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 ::ng-deep .ant-switch.ant-switch-small .ant-switch-inner {
     color: white;
 }

 ::ng-deep .ant-table {
     background-color: #000000;
 }

 ::ng-deep tr.ant-table-row {
     background-color: #000000;
     color: aliceblue;
 }

 .hover-row:hover td {
     background-color: #6471e6;
 }

 /* Search  */
 .search-container {
     display: flex;
     align-items: center;
 }

 .input-search {
     padding-right: 2rem;
     border-radius: 4px;
 }

 .search-icon {
     width: 1.4rem;
     height: 1.4rem;
     pointer-events: none;
 }

 .relative {
     position: relative;
 }

 .absolute {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     color: #ccc;
 }

 ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
     background-color: #000000;
     color: aliceblue;
     height: 35px;

 }

 ::ng-deep .ant-select-dropdown {
     background-color: #000000;
     color: aliceblue;
 }

 ::ng-deep .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
     color: aliceblue;
     font-weight: 600;
     background-color: #1905ff;
 }

 ::ng-deep .ant-select-item-option:hover {
     background-color: #1905ff;
     color: white;
 }

 ::ng-deep .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
     background-color: #5a4df1;
     color: white;
 }

 /* Genre */
 ::ng-deep .ant-modal-body .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
     background-color: #141314;
     color: aliceblue;
 }

 ::ng-deep .ant-select-clear {
     background-color: #000;
     color: aliceblue;
 }

 ::ng-deep .cdk-virtual-scrollable {
     scrollbar-width: thin;
     scrollbar-color: #0d2ebb #000000;
     border-radius: 20px;
 }

 ::ng-deep .ant-select-multiple .ant-select-selection-item {
     background-color: #121212;
     color: aliceblue;
 }

 .custom-select {
     max-height: 40px;
     /* Chiều cao cố định của select */
     overflow-y: auto;
     /* Bật thanh cuộn dọc */
 }

 .custom-select .ant-select-selection-overflow {
     max-height: 100%;
     /* Đảm bảo chiều cao không vượt quá chiều cao của select */
     overflow-y: auto;
     /* Bật thanh cuộn dọc bên trong */
 }

 /* language */
 ::ng-deep .ant-form-item-control-input-content .ant-select:not(.ant-select-customize-input) .ant-select-selector {
     background-color: #141314;
     color: aliceblue;
 }

 .form-items-row-4 .ant-input[disabled] {
     background-color: #121212;
     color: aliceblue;
 }

 ::ng-deep .ant-select-item-option-content {
     color: aliceblue;
 }

 ::ng-deep .anticon {
     color: aliceblue;
 }

 ::ng-deep .ant-form-item-label>label {
     color: aliceblue;
     font-size: medium;
 }

 ::ng-deep .ant-pagination .ant-pagination-item {
     background-color: #000000;
     border-color: #1890ff;
     color: #1890ff;
 }

 ::ng-deep .ant-pagination .ant-pagination-item-active {
     border-color: #1890ff;
 }

 ::ng-deep .ant-pagination .ant-pagination-prev .ant-pagination-item-link {
     background-color: #333333;
     border-color: #1890ff;
     color: #ffffff;
 }

 ::ng-deep .ant-pagination .ant-pagination-next .ant-pagination-item-link {
     background-color: #333333;
     border-color: #1890ff;
     color: #ffffff;
 }

 ::ng-deep .ant-pagination .ant-pagination-disabled .ant-pagination-item-link {
     background-color: #333333;
     border-color: #1890ff;
     color: #1890ff;
 }


 input {
     background-color: #141314;
     color: aliceblue;
 }

 textarea {
     background-color: #141314;
     color: aliceblue;
 }

 .form-item {
     display: block;
     margin-bottom: 5px;
 }

 .form-items-row-4 {
     display: flex;
     justify-content: space-between;
 }

 .form-items-row {
     display: flex;
     justify-content: space-between;
 }

 .form-items-row nz-form-item {
     flex: 1;
     margin-right: 10px;
 }

 .form-items-row nz-form-item:last-child {
     margin-right: 0;
 }

 .form-items-row nz-form-control,
 .form-items-row nz-select {
     width: 300px;
 }

 ::ng-deep .form-select {
     width: 300px !important;
 }

 ::ng-deep .ant-picker {
     background-color: black;
     width: 185px;
 }

 ::ng-deep .ant-picker-input>input {
     color: aliceblue;
 }


 ::ng-deep .ant-modal-content {
     background-color: #000;
     max-height: calc(100vh - 24px);
     overflow: auto;
 }

 ::ng-deep .ant-modal-body {
     max-height: inherit;
     max-height: 70vh;
     overflow-y: auto;
     scrollbar-width: thin;
     scrollbar-color: #0d2ebb #000000;
 }

 ::ng-deep .ant-modal-header {
     background-color: black;
 }

 ::ng-deep .ant-modal-title {
     color: rgb(255, 255, 255);
     font-size: 1.7rem;
 }

 ::ng-deep .ant-form-item {
     display: block;
     margin-bottom: 7px;
 }

 ::ng-deep .ant-btn,
 .ant-btn:active,
 .ant-btn:focus {
     background-color: #a4a9bc;
     color: #000000;
     font-size: 15px;
     font-weight: 600;
 }

 ::ng-deep .ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger) {
     background-color: #0d2ebb;
     color: #ffffff;
 }



 /*  */