.badge {
    display: inline-block;
    padding: 0.5em 0.75em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0.5rem;
}

.badge-success {
    background-color: #28a745; 
}

.badge-danger {
    background-color: #dc3545; 
}

.mb-2 {
    margin-bottom: 0.5rem; 
}

.mr-2 {
    margin-right: 0.5rem; 
}
::ng-deep .ant-table {
    background-color: #000000;
}
  
::ng-deep .ant-table-thead > tr > th {
  background-color: #3f4041; 
  color: rgb(255, 255, 255); 
}

::ng-deep .ant-table-tbody > tr > td {
  background-color: #000000; 
  color: rgb(223, 223, 231);
}
.ant-table-tbody > tr:hover > td {
  background-color: #128fc9; 
}
.custom-drawer {
  background-color: #f5f5f5; 
}


.custom-form {
  padding: 16px; 
  background-color: #000000; 
  border-radius: 8px; 
}


.custom-form nz-form-item {
  margin-bottom: 16px; 
}


.custom-form nz-form-label {
  font-weight: bold; 
  color: #501082; 
}
::ng-deep .ant-form-item-label>label {
  color: aliceblue;
  font-size: medium;
}
::ng-deep .ant-drawer-title {
  color: rgb(255, 255, 255);
  font-size: 1.7rem;
}


.custom-form nz-form-control {
  padding: 8px; 
}


.custom-form input[nz-input] {
  border-radius: 4px; 
  border: 1px solid #d9d9d9; 
}


.custom-form nz-select {
  width: 100%; 
}


.custom-drawer .ant-drawer-footer {
  background-color: #711e1e; 
  border-top: 1px solid #e8e8e8; 
  padding: 16px; 
}


.custom-drawer .ant-btn {
  margin-right: 8px; 
}
.ant-drawer-body{
  background-color:rgb(157, 30, 30);
}
::ng-deep .ant-drawer-content {
  background-color: black;
  color: aliceblue;
}
