<div class="container mt-24">
  <div class="flex items-center">
    <h3 class="title">
      <a [routerLink]="['/album', idAlbum]">{{title}}</a>
    </h3>
  </div>
  
  <!-- Multi item carousel -->
  <div class="flex items-center justify-center w-full h-full py-24 sm:py-8">
      <div class="w-full relative flex items-center justify-center">
        <!-- button previous -->
        <button type="button" (click)="goPrev()" class="btn__control-prev absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none">
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
          <div #slider class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700">
            <!-- Item -->
            @for (movie of listMovie; track $index) {
              <div class="wrap-item flex flex-shrink-0 relative">
                <div class="h-auto w-full bg-black">
                  <div class="relative h-36 bg-slate-500 rounded-md">
                    <a [routerLink]="['/video', movie.Id]" class="movie__background" [style]="{ 'background-image': 'url(' + movie.ThumbnailUrl + ')' }"></a>
                  </div>
                  <h2 class="text-white font-semibold text-lg py-3">
                    <a [routerLink]="['/video', movie.Id]">{{movie.FilmName}}</a>
                  </h2>
                </div>
                
              </div>
            } 
          </div>
        </div>

        <!-- Next button -->
        <button type="button" (click)="goNext()" class="btn__control-next absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
              <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
  </div>
</div>
