.title {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
}

.btn__control-next:hover {
    opacity: 1;
    background: linear-gradient(270deg, #000000 35%, rgba(0, 0, 0, 0.5) 100%);
    transition: all .3s;
  }
  
  .btn__control-prev:hover {
    opacity: 1;
    background: linear-gradient(90deg, #000000 35%, rgba(0, 0, 0, 0.5) 100%);
    transition: all .3s;
  }
