<div class="bg-black">
    <div class="container">
        <form class="mx-auto py-7">   
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
                    </svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-200 border rounded-lg bg-black border-gray-600 placeholder-gray-400 focus:ring-blue-500 focus:border-blue-500" placeholder="Nhập tên phim..." required="">
                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Tìm kiếm</button>
            </div>
        </form>
        <div class="ant-row">
            <div class="py-10 flex justify-center items-center w-full">
                <h1 class="text-white text-4xl font-semibold">Phim mới gần đây</h1>
            </div>
        </div>
        <div class="grid xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4 py-7">
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
            <div class="h-auto bg-black">
                <div class="relative h-36 bg-slate-500 rounded-md">
                    <a class="movie__background"></a>
                </div>
                <h2 class="text-white font-semibold text-lg py-3">Là tự em đa tình (The Khang show)</h2>
            </div>
        </div>
    </div>
</div>