.page-content{
    font-family: 'Montserrat',sans-serif;
    /* background-image: url(https://i.pinimg.com/originals/6f/7c/63/6f7c63991726d61d63730682e791d78c.gif); */
    background-color: #eee;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item2 {
    grid-column-start: 2;
    grid-column-end: 4;
    margin: auto;
    padding: 100px 100px;
    input{
        padding: 20px 20px;
        height: 100%;
    }
  }