<section class="device" id="device">
    <h1 class="heading">De<span>vices</span></h1>
    <main class="table" id="customers_table">
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Devices <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Login Date <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 1 </td>
                        <td> <img src="/movie_img/iphone15.jpg" alt="">Iphone 15</td>
                        <td> 17 Dec, 2022 </td>
                        <td><span class="fas fa-times"></span></td>
                    </tr>
                    <tr>
                        <td> 2 </td>
                        <td><img src="/movie_img/xiaomi14.jpg" alt="">Xiaomi14</td>
                        <td> 27 Aug, 2023 </td>
                        <td><span class="fas fa-times"></span></td>
                        
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td><img src="/movie_img/samsung.jpg" alt="">Samsung Galaxy S22</td>
                        <td> 14 Mar, 2023 </td>
                        <td><span class="fas fa-times"></span></td>

                    </tr>
                    
                </tbody>
            </table>
        </section>
    </main>
</section>

