<section class="device" id="device">
    <h1 class="heading">De<span>vices</span></h1>
    <main class="table" id="customers_table">
        <section class="table__body">
            <table>
                <thead>
                    <tr>
                        <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Devices <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Login Date <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let device of devices">
                        <td>{{ device.id }}</td>
                        <td>{{ device.name }}</td>
                        <td>{{ device.lastUsed | date: 'short' }}</td>
                        <td><span class="fas fa-times"></span></td>
                    </tr>
                    <tr *ngIf="devices.length === 0">
                        <td colspan="4">No devices found.</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</section>
